/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Freestyle';
  src: url('./freestyle-font.ttf') format('truetype');
}

@font-face {
  font-family: 'Eraslight';
  src: url('./eras-light-itc/ErasLightITC.ttf') format('truetype');
}

@font-face {
  font-family: 'Inkfree';
  src: url('./Inkfree.ttf') format('truetype');
}

@font-face {
  font-family: 'Znikomit';
  src: url('./znikomit.otf') format('truetype');
}

@font-face {
  font-family: 'GravityLight';
  src: url('./gravity/Gravity-Light.otf') format('truetype');
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
